In [12]:
import numpy as np

def tvm_fv(pv,i,n,t):
    fv=pv*(1+i/n)**(n*t)
    return fv;    

def tvm_pv(fv,i,n,t):
    pv=(fv)/(1+i/n)**(n*t)   
    return pv;   

def tvm_i(fv,pv,n,t):
    i=n*((fv/pv)**(1/(n*t))-1)    
    return i*100;

def tvm_t(fv,pv,i,n):
    t=(np.log(fv/pv)/(n*(np.log(1+i/n))))  
    return t;

In [25]:
option=int(input("Enter the value that needs to be calculated - 1.Present value. 2.Future value. 3.Annual interest rate. 4.time period"))

if(option==1):
    fv=float(input("enter the future value"))
    i=float(input("enter the rate of interest in percentage"))
    i=float(i/100)
    n=float(input("enter the compounding rate : 1 for yearly, 2 for half yearly ,4 for quarterly and so on..:" ))
    t=float(input("enter the time period (number of years) :"))
    answer=tvm_pv(fv,i,n,t)
    print("Present value is :",float(answer) )
elif option==2 :
    pv=float(input("enter the present value"))
    i=float(input("enter the rate of interest in percentage"))
    i=float(i/100)
    n=float(input("enter the compounding rate : 1 for yearly, 2 for half yearly ,4 for quarterly and so on..:" ))
    t=float(input("enter the time period (number of years) :"))
    answer=tvm_fv(pv,i,n,t)
    print("future value is :",float(answer) )
elif option==3 :
    pv=float(input("enter the present value"))
    fv=float(input("enter the future value"))
    n=float(input("enter the compounding rate : 1 for yearly, 2 for half yearly ,4 for quarterly and so on..:" ))
    t=float(input("enter the time period (number of years) :"))
    answer=tvm_i(fv,pv,n,t)
    print("Annual interest rate is :",float(answer),"%" )
elif option==4 :
    pv=float(input("enter the present value"))
    fv=float(input("enter the future value"))
    i=float(input("enter the rate of interest in percentage"))
    i=float(i/100)
    n=float(input("enter the compounding rate : 1 for yearly, 2 for half yearly ,4 for quarterly and so on..:" ))
    answer=tvm_t(fv,pv,i,n)
    print("Time period is :",float(answer) )
else:
    print("you have entered an invalid option")

Enter the value that needs to be calculated - 1.Present value. 2.Future value. 3.Annual interest rate. 4.time period4
enter the present value8000
enter the future value95000
enter the rate of interest in percentage12
enter the compounding rate : 1 for yearly, 2 for half yearly ,4 for quarterly and so on..:1
Time period is : 21.8341485495711

In [3]:
import pandas as pd

In [4]:
data_HA = pd.read_csv('C:\\Users\\Personal\\Desktop\\UTD sem1\\FTEC 6V99.FH1 - Special Topics in Financial Technology and Analytics\\southwestern_HA.csv')
data_HA

,Consolidated Statement of Income (Loss) - USD ($) $ in Millions,"Dec. 31, 2021","Dec. 31, 2020","Dec. 31, 2019","Dec. 31, 2018","Dec. 31, 2017"
0,Total operating revenues,"$15,790","$9,048","$22,428","$21,965","$21,146"
1,"Salaries, wages, and benefits","7,743","6,811","8,293","7,649","7,305"
2,Payroll support and voluntary Employee program...,"-2,960",-967,0,0,0
3,Fuel and oil,"3,310","1,849","4,347","4,616","4,076"
4,Maintenance materials and repairs,854,750,"1,223","1,107","1,001"
5,Landing fees and airport rentals,"1,456","1,240","1,363","1,334","1,292"
6,Depreciation and amortization,"1,272","1,255","1,219","1,201","1,218"
7,Other operating expenses,"2,394","1,926","3,026","2,852","2,847"
8,"Total operating expenses, net","14,069","12,864","19,471","18,759","17,739"
9,OPERATING INCOME (LOSS),"1,721","-3,816","2,957","3,206","3,407"
10,Interest expense,467,349,118,131,114
11,Capitalized interest,-36,-35,-36,-38,-49
12,Interest income,-13,-32,-90,-69,-35
13,"Other (gains) losses, net",22,-158,-8,18,112
14,Total other expenses (income),396,440,0,42,142
15,INCOME (LOSS) BEFORE INCOME TAXES,"1,325","-4,256","2,957","3,164","3,265"
16,PROVISION (BENEFIT) FOR INCOME TAXES,348,"-1,182",657,699,-92
17,NET INCOME (LOSS),$977,"($3,074)","$2,300","$2,465","$3,357"
18,"NET INCOME (LOSS) PER SHARE, BASIC (in USD per...",$1.65,($5.44),$4.28,$4.30,$5.58
19,"NET INCOME (LOSS) PER SHARE, DILUTED (in USD p...",$1.61,($5.44),$4.27,$4.29,$5.57
20,Passenger Total operating revenues,"$14,066","$7,665","$20,776","$20,455","$19,763"
21,Freight Total operating revenues,187,161,172,175,173
22,Other Total operating revenues,"$1,537","$1,222","$1,480","$1,335","$1,210"

In [6]:
import matplotlib as mpl

In [8]:
x=[]
y=[]

In [11]:
x=x.append(data_HA.[0])
y=y.append(data_HA[17])

KeyError: 0

In [55]:
data_VA = pd.read_excel('C:\\Users\\Personal\\Desktop\\UTD sem1\\FTEC 6V99.FH1 - Special Topics in Financial Technology and Analytics\\southwestern_VA.xlsx')
data_VA

,Statement of Comprehensive Income,Mar 31 2021,Mar 31 2020
0,Operating Revenue,2052.00,4234.00
1,"Salaries, wages, and benefits",1571.00,1854.00
2,Payroll support and voluntary Employee program...,-1448.00,0.00
3,Fuel and oil,469.00,870.00
4,Maintenance materials and repairs,173.00,272.00
5,Landing fees and airport rentals,313.00,339.00
6,Depreciation and amortization,312.00,311.00
7,Other operating expenses,463.00,698.00
8,Operating Costs and Expenses,1853.00,4344.00
9,OPERATING INCOME (LOSS),199.00,-110.00
10,Interest expense,114.00,28.00
11,Capitalized interest,-11.00,-5.00
12,Interest income,-2.00,-17.00
13,"Other (gains) losses, net",-48.00,28.00
14,Total other expenses (income),53.00,34.00
15,INCOME (LOSS) BEFORE INCOME TAXES,146.00,-144.00
16,PROVISION (BENEFIT) FOR INCOME TAXES,30.00,-50.00
17,NET INCOME (LOSS),116.00,-94.00
18,Basic,0.20,-0.18
19,Diluted,0.19,-0.18
20,COMPREHENSIVE INCOME (LOSS),180.00,-219.00
21,"Weighted-average shares outstanding, basic",591.00,515.00
22,"Adjusted weighted-average shares outstanding, ...",609.00,515.00
23,Operating Revenue,1712.00,3845.00
24,Operating Revenue,43.00,39.00
25,Operating Revenue,297.00,350.00

In [56]:
data_VA['Mar 31 2020']=data_VA['Mar 31 2020'].div(4234).round(4)*100
data_VA['Mar 31 2021']=data_VA['Mar 31 2021'].div(2052).round(4)*100

In [57]:
data_VA

,Statement of Comprehensive Income,Mar 31 2021,Mar 31 2020
0,Operating Revenue,100.00,100.00
1,"Salaries, wages, and benefits",76.56,43.79
2,Payroll support and voluntary Employee program...,-70.57,0.00
3,Fuel and oil,22.86,20.55
4,Maintenance materials and repairs,8.43,6.42
5,Landing fees and airport rentals,15.25,8.01
6,Depreciation and amortization,15.20,7.35
7,Other operating expenses,22.56,16.49
8,Operating Costs and Expenses,90.30,102.60
9,OPERATING INCOME (LOSS),9.70,-2.60
10,Interest expense,5.56,0.66
11,Capitalized interest,-0.54,-0.12
12,Interest income,-0.10,-0.40
13,"Other (gains) losses, net",-2.34,0.66
14,Total other expenses (income),2.58,0.80
15,INCOME (LOSS) BEFORE INCOME TAXES,7.12,-3.40
16,PROVISION (BENEFIT) FOR INCOME TAXES,1.46,-1.18
17,NET INCOME (LOSS),5.65,-2.22
18,Basic,0.01,-0.00
19,Diluted,0.01,-0.00
20,COMPREHENSIVE INCOME (LOSS),8.77,-5.17
21,"Weighted-average shares outstanding, basic",28.80,12.16
22,"Adjusted weighted-average shares outstanding, ...",29.68,12.16
23,Operating Revenue,83.43,90.81
24,Operating Revenue,2.10,0.92
25,Operating Revenue,14.47,8.27